.header{
    width:100%;
    height: 40px;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    background-color: white;
    background-color: rgb(21, 21, 43);
}
.header__search{
    flex: 0.6;
    display: flex;
    align-items: center;
}
.header__search>form{
    flex: 1;
    display: flex;

}
.header__search>form>input{
    flex: 1;
    border:none ;
    margin-left: 20px;
    height: 1.5rem;
    border-radius: 3px;


}




.header__nav{
    flex: 0.4;
}
.header__navlist{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-left: auto;

}
.header__navItem{
    text-decoration: none;
    

}
.header__navItem>li{
    margin:0px 20px;
    padding: 5px 15px;
    border-bottom: 1px solid #F7DBA7;
    border-radius: 10px;
    width: 80px;
    justify-content: center;
    display: flex;
    color: rgb(130, 130, 212);

}



@keyframes shadow {
    50% {box-shadow: 10px 10px 10px #46342b;}
  }

  .header__navItem > li:hover{
    transform: scale(1.05);
    background-color: #706859;
    animation: shadow 5s infinite ;
}



/* @media screen and (max-width:600px){
    .header__navlist{
        visibility: hidden;
    }
   .ham-wrapper{
       position: absolute;
       top: 0;
       right: 0;
       z-index: 2;
       width: 25px;
       height: 17px;
       padding: .5rem;
       display: flex;
       align-items: center;
       justify-content: center;
   }
   .hamburger{
       position: relative;
       width: 100%;
       height: 2px;
       background-color: white;
       display: block;
       align-items: center;
       justify-content: center;
       z-index: 20;
   }
   .hamburger:before, .hamburger:after{
       content: '';
       position: absolute;
       z-index: 1;
       top: -10px;
       width: 100%;
       height: 2px;
       background: inherit;
   }
   .hamburger:after{
       top: 10px;
   }
} */