.genrelist{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    color: rgb(32, 57, 80);
    

}
button{
    margin-right:auto;
    border: none;
    margin-bottom:10px;
    background-color:white;
    overflow: hidden;

}
button:hover{
    color: blue;
}
