.genrelist{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    

}
.genres>h3{
    color: rgb(130, 130, 212);

}
button{
    margin-right:auto;
    border: none;
    margin-bottom:10px;
    background-color:white;
    overflow: hidden;
    color: rgb(130, 130, 212);


}
button:hover{
    color: blue;
}
